<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.223209114214-ibo9u4nrrapqvg9q6502c5mf1bkfnjkq</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>223209114214-ibo9u4nrrapqvg9q6502c5mf1bkfnjkq.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Urbanist-Bold.ttf</string>
		<string>Urbanist-Light.ttf</string>
		<string>Urbanist-Regular.ttf</string>
		<string>Urbanist-SemiBold.ttf</string>
	</array>
	<key>NSSiriUsageDescription</key>
	<string>Recall needs Siri access to help you save memories and reminders using voice commands</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>AppIntents</key>
	<array>
		<dict>
			<key>IntentClassName</key>
			<string>AddMemoryIntent</string>
		</dict>
		<dict>
			<key>IntentClassName</key>
			<string>AddUrgentMemoryIntent</string>
		</dict>
		<dict>
			<key>IntentClassName</key>
			<string>AddPersonMemoryIntent</string>
		</dict>
	</array>
</dict>
</plist>
